body {
    margin: 0;
    padding: 0;
    background-color: #06344c;
}

.postsList-container {
    margin: auto;
    padding: 0;
    width: 40%;
    border-radius: 10px;
    background-color: white;
}