.reader-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    background-color: rgba(0, 26, 41, 0.7);
}

.post-reader {
    margin: auto;
    overflow-y: scroll;
    padding: 50px;
    width: 50vw;
    height: 100%;
    cursor: auto;
    background-color: white;
}

.reader-title {
    font-size: 1.6vw;
    font-weight: bold;
}

.reader-content {
    padding: 10px 0 70px 0;
}

.hidden {
    display: none;
}

p {
    margin: 10px 0;
}